[project]
	description = Provide game virtual chips, handle game and players chips balances, gains and losses
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zloy
[access "refs/for/refs/*"]
	read = group user/Zloy
	push = group user/Zloy
	label-Code-Review = -2..+2 group user/Zloy
	label-Verified = -1..+1 group user/Zloy
	rebase = group user/Zloy
	removeReviewer = group user/Zloy
	submit = group user/Zloy
[access "refs/heads/*"]
	read = group user/Zloy
	create = group user/Zloy
	push = +force group user/Zloy
	pushMerge = group user/Zloy
[access "refs/tags/*"]
	push = +force group user/Zloy
	pushTag = group user/Zloy
	pushSignedTag = group user/Zloy
